/* .slides.template-default > article { */
/*   padding: 80px 90px; */
/* } */

.slides article .presenter-notes {
    display: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
